
body{
    background-color: black;
    color: aliceblue;
    font-family: Arial, sans-serif;
}
#filter{
    background-color: black;
    color: white;
    padding: 10px;

}
.complete{
    text-decoration: line-through;
    color: rgb(159, 159, 159);
}